section{
    width: 100%;
    min-height: 87.5%;    
}

section article{
    width: 100%;
}

section article:nth-child(1){
    height: 20%;
    min-height: 20%;
    background-color: blue;
}

section article:nth-child(2){
    min-height: 80%;
    background-color: red;
}

#bloco{
    text-align: center;
    width: 40%;
    height: 5%;
    background-color: rgb(13,255,0);
    border-style: solid;
    margin: 2%;
    border-radius: 5%;
    padding: 2%;
}
img{
    width: 50%;
    height: 40%;
    border-radius: 5%;
    margin-top: 3%;
    border-style: solid;
}
#description{
    padding: 3%;
    width: 100%;
}
main input[type='text']{
    padding: 2%;
    margin: 2%;
    width: 100%;
}
button{
    width: 200px;
}
#foto{
    /*background-color: yellow;*/
    width: 40%;
}
#instaphoto{
    width: 10%;
    height: 10%;
}