body section{
    width: 100%;
    height: 185%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 5%;
    /*z-index: -1;*/
}

body section article{
    width: 100%;
    margin: 0;
    padding: 0;
}

body section article:nth-child(1){
    height: 40%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    justify-content: space-around;
    align-items: center;
}

body section article:nth-child(1) img{
    
}

body section article:nth-child(1) hgroup{
    
}

body section article:nth-child(2){
    height: 10%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

body section article:nth-child(2) ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body section article:nth-child(2) ul li{
    margin: 0;
    padding: 0;
    width: 15%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

body section article ul li:hover{
    color: orange;
}

body section article:nth-child(3){
    position: relative;
    height: 47.5%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

body section article:nth-child(3) h1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body section article:nth-child(3) figure{
    width: 70%;
    height: 50%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body section article:nth-child(3) figure div{
    width: 25%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

body section article:nth-child(3) figure div:hover{
    box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
}

body section article:nth-child(3) figure div img{
    width: 60%;
    height: 47%;
}

body section article:nth-child(3) figure div figcaption{
    text-align: center;
}