/nbproject/private/
/BRConsulta-war/nbproject/private/
/BRConsulta-ejb/nbproject/private/
/BRConsulta-ejb/build/
/BRConsulta-ejb/dist/
/BRConsulta-war/build/
/BRConsulta-war/dist/
/build/
/dist/